@let _isLoading = isLoading();

<div class="h-screen grid place-content-center">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Welcome!</legend>
    <p class="label">You can edit page title later on from settings</p>

    @for (provider of providers; track provider.providerId) {
      <button
        class="btn btn-primary"
        type="button"
        (click)="signInWithProvider(provider)"
        [disabled]="_isLoading"
      >
        @if (_isLoading) {
          <span class="loading loading-spinner"></span>
        }
        Login with {{ provider.providerId }}
      </button>
    }
  </fieldset>
</div>
