<fieldset
  class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
>
  <p class="text-lg font-semibold mb-2">Add new transaction</p>
  <form
    class="space-y-5"
    [formGroup]="formGroup"
    (submit)="createTransaction()"
  >
    <div class="form-group">
      <label class="label" for="type">Type</label>
      <div class="flex gap-5 justify-center">
        <button
          class="btn btn-neutral btn-sm"
          [class.btn-primary]="
            formGroup.get('type')?.value === TransactionType.income
          "
          (click)="changeType(TransactionType.income)"
        >
          Income
        </button>
        <button
          class="btn btn-neutral btn-sm"
          [class.btn-primary]="
            formGroup.get('type')?.value === TransactionType.expense
          "
          (click)="changeType(TransactionType.expense)"
        >
          Expense
        </button>
      </div>
    </div>

    @if (categories$ | async; as categories) {
      <div class="form-group">
        <label class="label" for="categoryId">Category</label>
        <select class="select" formControlName="categoryId">
          <option disabled selected>
            @if (categories.length) {
              Pick a category
            } @else {
              Seem a bit empty here
            }
          </option>
          @for (item of categories; track item.uid) {
            <option [value]="item.uid">{{ item.name }}</option>
          }
        </select>
        <app-form-error [control]="formGroup.get('category')"></app-form-error>
      </div>
    }

    <div class="form-group">
      <label class="label" for="amount">Amount (VND)</label>
      <input
        type="text"
        class="input"
        placeholder="0.00"
        formControlName="amount"
        appFormatNumber
      />
      <app-form-error [control]="formGroup.get('amount')"></app-form-error>
    </div>

    <div class="form-group">
      <label class="label" for="description">Description</label>
      <input
        type="text"
        class="input"
        placeholder="e.g., Weekly groceries"
        formControlName="description"
      />
    </div>

    <div class="flex gap-5 justify-end">
      <button
        type="button"
        class="btn btn-neutral mt-4"
        (click)="closeDialog()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary mt-4">Add</button>
    </div>
  </form>
</fieldset>
