<div
  class="mt-5 overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
>
  <table class="table table-sm table-pin-rows">
    <thead>
      <tr>
        <th>Amount (VND)</th>
        <th>Description</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      @for (item of transactions; track item.uid) {
        @let isIncome = item.type === "income";
        <tr>
          <td [ngClass]="isIncome ? 'text-primary' : 'text-error'">
            {{ isIncome ? "+" : "-" }} {{ item.amount | currency: "VND" }}
          </td>
          <td>
            {{ item.description }}
          </td>
          <td>
            {{ item.createdAt.toDate() | date: "medium" }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
